/* dashboard.css */

.dashboard-page {
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 80vh;
  margin-top: 120px; /* Moves content down */
  overflow-y: auto; /* Enables scrolling */
  max-height: calc(100vh - 120px); /* Ensures content doesn't overflow out of the viewport */
}

.dashboard-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.dashboard-page p {
  font-size: 1.2rem;
  color: #555;
}
